<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="bg-secondary pb-5">
        <div class="container">
          <div class="row pt-5">
            <div class="col-md-4 text-white text-center">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
          <div class="col-md-4 text-white text-center">
            <h2>AROUND THE WEB</h2>
            <div class="d-flex justify-content-center align-items-center ">
              <div class="p-3 icon">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="p-3 icon">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="p-3 icon">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
              <div class="p-3 icon">
                <i class="fa-solid fa-globe"></i>
              </div>
            </div>
        </div>
        <div class="col-md-4 text-white text-center">
          <h2>ABOUT FREELANCER</h2>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
          </div>
        </div>
      </section>
      <section class="bg-black text-center text-white pt-2 pb-2">
        <dir class="container">
          <p>Copyright © Your Website 2021</p>
        </dir>
      </section>
</body>
</html>