<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="text-center pt-5">
        <h1>CONATCT SECTION</h1>
    </section>
    <section class="icon text-center">
        <div><i class=" fa-solid fa-star"></i></div>
    </section>
    <section class="container w-50 pt-5 pb-5 " id="contactUS">
        <div class="row py-4 text-white">
            <div class="col-md-12 pb-5 ">
                <div>
                    <input id="nameInput" class="form-control  bg-transparent text-black" type="text"
                        placeholder="User Name">
                </div>
            </div>
            <div class="col-md-12 pb-5 ">
                <div>
                    <input id="nameInput" class="form-control  bg-transparent text-black" type="number"
                        placeholder="User Age">
                </div>
            </div>
            <div class="col-md-12 pb-5 ">
                <div>
                    <input id="nameInput" class="form-control  bg-transparent text-black" type="email"placeholder="User Email">
                </div>
            </div>
            <div class="col-md-12 pb-5 ">
                <div>
                    <input id="nameInput" class="form-control  bg-transparent text-black" type="password"
                        placeholder="User Password">
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Send Message</button>
    </section>
</body>
</html>