<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="text-center">
        <h1>PORTFOLIO COMPONENT</h1>
    </section>
    <section class="icon text-center">
        <div><i class=" fa-solid fa-star"></i></div>
    </section>
    <section class="pt-3 pb-3">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card position-relative">
                        <div  class="porto-image">
                            <img class="w-100 image" src="assets/images/poert1.png" alt="">
                        </div>
                        <div
                            class="Portfolio-layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="Portfolio-texts text-black">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card position-relative">
                        <div class="porto-image">
                            <img class="w-100 image" src="assets/images/port2.png" alt="">
                        </div>
                        <div
                            class="Portfolio-layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="Portfolio-texts text-black">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card position-relative">
                        <div class="porto-image">
                            <img class="w-100 image" src="assets/images/port3.png" alt="">
                        </div>
                        <div
                            class="Portfolio-layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="Portfolio-texts text-black">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card position-relative">
                        <div class="porto-image">
                            <img class="w-100 image" src="assets/images/poert1.png" alt="">
                        </div>
                        <div
                            class="Portfolio-layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="Portfolio-texts text-black">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card position-relative">
                        <div class="porto-image">
                            <img class="w-100 image" src="assets/images/port2.png" alt="">
                        </div>
                        <div
                            class="Portfolio-layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="Portfolio-texts text-black">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card position-relative">
                        <div class="porto-image">
                            <img class="w-100 image" src="assets/images/port3.png" alt="">
                        </div>
                        <div
                            class="Portfolio-layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                            <div class="Portfolio-texts text-black">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
