<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="bg-info text-white vh-75">
        <div class="container  ">
            <h1 class="about text-center">ABOUT COMPONENT</h1>
            <section class="icon text-center">
                <div><i class=" fa-solid fa-star"></i></div>
            </section>
            <div class="row about-row">
                <div class="col-md-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div class="col-md-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>